/* -----------------------------------
** Start Padding Space
-------------------------------------*/
// padding top
.pdt40{
    padding-top: 40px;
}



// padding Bottom
.pdb40{
    padding-bottom: 40px;
}


// Border Radious
.brt5{
    padding-bottom: 5px;
}

