/*=======================
	Background Colro
=======================*/ 
$d_blue: #467b8b;
$d_blue1: #44505d;




/*=======================
	Other colro
=======================*/ 
$gray: #eceaea;
$fiord: rgb( 78, 86, 94 );
$blue: rgb( 21, 128, 199 ); 
$white: #fff;
$dark: #000;
$bl_gray: #837d7e;
$border_gray: rgb( 194, 194, 194 );
$wh_gray1: #eae6e6;
$wh_gray: #f5f5f5;
$dark_gray: #c1c9cc;
$dark_gray1: #777;

